/Progetto/docker-deploy-steps.txt
/Progetto/start-stack.sh

/Progetto/backend/certs
/Progetto/backend/keys
/Progetto/backend/logs

/Progetto/database/usage.txt

/Progetto/keycloak/certs

/Progetto/nginx/certs

/Progetto/vault/certs
/Progetto/vault/data
/Progetto/vault/policies
/Progetto/vault/unseal.sh
/Progetto/vault/vault-audit.log

/Progetto/smart_card_reader/keys
/Progetto/smart_card_reader/__pycache__
/Progetto/smart_card_reader/keys
/Progetto/smart_card_reader/reader-venv
/Progetto/smart_card_reader/usage.txt